<div class="titulos" style="display: flex; justify-content: space-around;">
  <h1 style="padding: 20px;">Hardware</h1>
  <h1 style="padding: 20px;">Software</h1>
</div>
<div class="main" style="display: flex;">
<div class="container" style="display: flex; align-items: center;">
  <h2 style="font-size: 40px;">Racks</h2>

  <div class="card__container">
    <article class="card__article">
      <img src="assets/rack-chico.jpg" height="50%" alt="Rack RK12WALHM">
      <div class="card__data">
        <h2 class="card__title">RK12WALHM</h2>
        <p class="card__button">Rack pequeño con anclajes para ser montado en un muro que tiene una puerta trasera con
          bisagras para facilitar el acceso a su equipo.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>12 pisos</li>
            <li>Rieles a una posición de 19” mediante cubos de fijación</li>
            <li>Puertas ventiladas</li>
          </ul>
      </div>
    </article>
    <article class="card__article" >
      <img src="assets/rack-grande.png" height="50%" alt="Rack OPGAPI8042PSH">
      <div class="card__data">
        <h2 class="card__title">OPGAPI8042PSH</h2>
        <p class="card__button">Es una opción robusta y muy utilizada en centros de datos debido a sus especificaciones,
          que están orientadas a alojar equipos de alto rendimiento.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>42 pisos</li>
            <li>Rieles a una posición de 19” mediante cubos de fijación</li>
            <li>Puertas ventiladas</li>
          </ul>
      </div>
    </article>
  </div>

  <h2 style="font-size: 40px;">Servidores</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/sr635-servidor.jpg" alt="ThinkSystem SR650 V3 Rack Server">
      <div class="card__data">
        <h2 class="card__title">ThinkSystem SR650 V3 Rack Server</h2>
        <p class="card__button">Un servidor de alto rendimiento con capacidad para cargas de trabajo pesadas y
          configuraciones de almacenamiento flexible. Es ideal para hosting de aplicaciones y bases de datos.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>2 procesadores Intel® Xeon® Scalable de 5.ª generación, 64 núcleos y un TDP de 350 W </li>
            <li>20 unidades de 3,5” o 40 unidades de 2,5”</li>
            <li>32 módulos TruDDR5 3DS/RDIMM</li>
            <li>8 GPU de ancho simple o 3 GPU de doble ancho</li>
          </ul>
      </div>
    </article>
    <article class="card__article">
      <img src="assets/thinksystem-servidor.png" alt="ThinkSystem SR635 V3" style="height: 10%;">
      <div class="card__data">
        <h2 class="card__title">ThinkSystem SR635 V3</h2>
        <p class="card__button">Este servidor ofrece escalabilidad, con varias opciones de almacenamiento y memoria, y
          cuenta con buenas características de seguridad.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>Procesador AMD EPYC™ de 4.ª generación o 5.ª generación</li>
            <li>12 ranuras DIMM TruDDR5 con 1 DPC</li>
            <li>12 bahías para unidades hot-swap de 2,5" (combinaciones de
              SAS/SATA, NVMe o AnyBay™)</li>
            <li>4 GPU de ancho simple</li>
          </ul>
      </div>
    </article>

  </div>

  <h2 style="font-size: 40px;">Switches</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/switch.jpg" alt="Switch S5810-48FS">
      <div class="card__data">
        <h2 class="card__title">S5810-48FS</h2>
        <p class="card__button">
          Ofrece funciones de switching de capa 3 y seguridad avanzada. Es robusto para el uso en centros de datos y
          permite la configuración de VLANs para segmentación.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>48 puertos SFP, (48x 1G SFP y 4x 1G/10G SFP+)</li>
            <li>Tecnología IPv4/IPv6 de doble pila</li>
            <li>Funciones LACP, ACL, MPLS, servidor DHCP, multidifusión L2</li>
            <li>Capa 3 (RIP, OSPF, VRRP, etc)</li>
          </ul>
      </div>
    </article>
    <article class="card__article">
      <img src="assets/switch-telefonia.png" alt="Switch de Telefonía">
      <div class="card__data">
        <h2 class="card__title">IP-PBX 3000</h2>
        <p class="card__button">Administra las llamadas, usuarios, extensiones y conexiones a líneas externas.
        </p>
        <p>Caracteristicas:
        </p>
        <ul>
          <li>100 a 3000 extensiones</li>
          <li>Compatible con SIP para gestionar llamadas VoIP.</li>
          <li>Respuesta automática (IVR).</li>
        </ul>
      </div>
    </article>
    <article class="card__article">
      <img src="assets/kvm.jpg" alt="KVM Switch">
      <div class="card__data">
        <h2 class="card__title">ExpreZo EZswitch EZ-116 KVM</h2>
        <p class="card__button">Permite administrar varios servidores desde una sola consola para mantenimiento y
          resolución de problemas.</p>
          <p>Caracteristicas:
          </p>
          <ul>
            <li>Admite conmutar 16 computadoras</li>
          </ul>
      </div>
    </article>
  </div>
  <h2 style="font-size: 40px;">Routers</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/router.jpg" alt="Router">
      <div class="card__data">
        <h2 class="card__title">MikroTik CRS518-16XS-2XQ-RM</h2>
        <p class="card__button">Conecta el centro de datos con el ISP y gestiona el
          tráfico hacia y desde la red externa. </p>
        <p>Caracteristicas:
        </p>
        <ul>
          <li>2 puertos QSFP28 de 100 Gbps</li>
          <li>16 puertos SFP28 de 25 Gbps</li>
          <li>Procesador QCA9531 de 650 MHz</li>
          <li>Memoria RAM de 64 MB DDR2 y almacenamiento Flash de 16 MB</li>
          <li>Sistema operativo RouterOS v7 preinstalado</li>
        </ul>
      </div>
    </article>
  </div>

  <h2 style="font-size: 40px;">UPS y PDU</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/ups.jpg" alt="UPS">
      <div class="card__data">
        <h2 class="card__title">APC Smart-UPS 1500VA</h2>
        <p class="card__button">Proveen energía en caso de interrupciones eléctricas, permitiendo un apagado seguro o
          una
          transición a generadores. </p>
      </div>
    </article>
    <article class="card__article">
      <img src="assets/pdu.png" alt="PDU">
      <div class="card__data">
        <h2 class="card__title">PDU (Power Distribution Units)</h2>
        <p class="card__button">Distribuyen la energía de manera uniforme en el rack y monitorean el consumo eléctrico
          de
          cada dispositivo.</p>
      </div>
    </article>

  </div>


  <h2 class="section-title">Dispositivos de Monitoreo</h2>
  <div class="card__container">
    <article class="card__article">
      <img src="assets/sensores.jpg" alt="Sensores de Temperatura y Humedad">
      <div class="card__data">
        <h2 class="card__title">Sensores de Temperatura y Humedad</h2>
        <p class="card__button">
          Controlan el ambiente dentro del rack para garantizar condiciones óptimas de operación.
        </p>
      </div>
    </article>
    <article class="card__article">
      <img src="assets/monitores.jpg" alt="Monitores de Rendimiento y Seguridad">
      <div class="card__data">
        <h2 class="card__title">Monitores de Rendimiento y Seguridad</h2>
        <p class="card__button">
          Rastreo en tiempo real del estado de los dispositivos y detección de posibles vulnerabilidades.
        </p>
      </div>
    </article>
  </div>



  </div>
  <div class="container" style=" display: flex; flex-wrap: wrap; align-items: center;">
    <h2 style="font-size: 40px;">Firewall</h2>
  <div class="card__container2">
    <article class="card__article">
      <img src="assets/forti.png" alt="Firewall FortiGate">
      <div class="card__data">
        <h2 class="card__title">FortiGate-200F</h2>
        <p class="card__button">Ofrece control de aplicaciones y detección de amenazas en tiempo real.</p>
        <p>Caracteristicas:
        </p>
        <ul>
          <li>16 puertos GE RJ45</li>
          <li>1 GE RJ45 Gestión / HA</li>
          <li>2 ranuras 10 GE SFP+ FortiLink (por defecto)</li>
          <li>2 ranuras SFP+ de 10 GE</li>
          <li>480 GB de almacenamiento integrado</li>
          <li>8 CPUs</li>
        </ul>
      </div>
    </article>
  </div>

</div>
