<div class="refrigeracion" style="padding: 40px;">
  <h1 class="presentacion-h1" style=" text-align: center;">Refrigeración</h1>
  <p style=" text-align: center; margin: 55px;">Basado en dos criterios principales:</p>
  <ul style=" display: flex; justify-content: space-around;">
    <li><strong>Funcionalidad:</strong> Adecuado para la capacidad, dimensiones y características.</li>
    <li><strong>Confiabilidad:</strong> Continuidad de servicio con la mejor tecnología.</li>
  </ul>

  <div class="main">
    <!-- Card para el área de servidores -->
    <div class="card">
      <div class="circle" style="--hero_clr:#f40103">
        <img src="assets/introduccion.jpg" alt="Refrigeración de servidores" class="logo rotate">
      </div>
      <div class="content">
        <h2>Área de servidores</h2>
        <p>
          Con un área de <strong>358.174 m²</strong>, se necesita una capacidad de enfriamiento de
          <strong>290,000 BTU</strong>. Para esta demanda se utiliza el aire acondicionado
          <strong>Liebert DSE Free Cooling System</strong>, diseñado específicamente para centros de datos.
        </p>
        <ul>
          <li>Control inteligente para monitorear y ajustar temperaturas.</li>
          <li>Sostenibilidad con refrigerantes ecológicos.</li>
          <li>Hasta un 50% más eficiente que los sistemas tradicionales.</li>
        </ul>
      </div>
      <img src="assets/refrigeracionservidor.png" alt="Liebert DSE Free Cooling System" style="width: 300px; height: 300px;" class="product">
    </div>

    <!-- Card para el edificio -->
    <div class="card">
      <div class="circle" style="--hero_clr:#000">
        <img src="assets/restodeledificio.png" alt="Refrigeración del edificio" class="logo rotate2" >
      </div>
      <div class="content">
        <h2>Edificio</h2>
        <p>
          Con un área menor al centro de datos, se estima una necesidad de refrigeración de
          <strong>226,935 BTU</strong>. Se utiliza el sistema
          <strong>Samsung DVM S Water & GEO</strong>, que proporciona eficiencia energética y
          confiabilidad en condiciones de alta carga térmica.
        </p>
        <ul>
          <li>Capacidad de refrigeración de 240,000 BTU/h.</li>
          <li>Gestión de puesta en marcha automática (ACM).</li>
          <li>Calentamiento y refrigeración simultánea de distintas áreas.</li>
        </ul>
      </div>
      <img src="assets/refrigeracionedificio.png" alt="Samsung DVM S Water & GEO" style="width: 300px; height: 300px;" class="product">
    </div>
  </div>
</div>
