
<div class="refrigeracion">
  <h1>Refrigeración</h1>
  <p>
    Basado en 2 criterios principales:
  </p>
  <ul>
    <li>
      <p>Funcionalidad:Adecuado para la capacidad, dimensiones y características. </p>
    </li>
    <li>
      Confiabilidad: Continuidad de servicio con la mejor tecnología.
    </li>
  </ul>

  <div class="main">

    <div class="card" >
      <div class="circle" style="--hero_clr:#f40103">
        <img src="" alt="Refrigeración de servidores" class="logo rotate">
      </div>
      <div class="content">
        <h2>Área de servidores</h2>
        <p>Con un área de 358.174 m² se necesita una capacidad de enfriamiento de 290,000 BTU. Para esa demanda se usa
          el
          aire acondicionado Liebert DSE Free Cooling System.</p>
      </div>
      <img src="assets/logo.jpg" alt="refrigeracion" class="product">
    </div>

    <div class="card">
      <div class="circle" style="--hero_clr:#000">
        <img src="" alt="Refrigeración  del edificio" class="logo rotate2">
      </div>
      <div class="content">
        <h2>Área de servidores</h2>
        <p>Con un área de 358.174 m² se necesita una capacidad de enfriamiento de 290,000 BTU. Para esa demanda se usa
          el
          aire acondicionado Liebert DSE Free Cooling System.</p>
      </div>
      <img src="" alt="refrigeracion" class="product">
    </div>
  </div>
</div>



