<div class="diseno-centro" style=" padding: 15px; ">
  <div class="titulo-diseno animista-fade-in">
    <h1>Diseño del Centro de Datos</h1>
  </div>
  <div class="texto-diseno" style="display: flex; flex-direction: column">
    <h3 class="animista-slide-in-left">Exterior</h3>
    <div class="card animista-zoom-in" data-scroll>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <img src="" alt="Diseño exterior" class="card-img" />
        <div class="card-content">
          <p>
            El perímetro externo del centro de datos está construido con muros de
            block y ladrillo, con un grosor de 20 cm, proporcionando una barrera
            robusta y resistente a las condiciones climáticas y ofreciendo
            seguridad estructural. Estos muros están reforzados por columnas de 20
            cm de ancho, colocadas estratégicamente para sostener la estructura,
            entre cada columna hay una separación máxima de 7 metros. Entre estas
            columnas, se han incorporado castillos de 15 cm de ancho, que sirven
            como refuerzos adicionales, distribuidos a no más de 3 a 4 metros de
            distancia uno del otro, garantizando la estabilidad de los muros. Por cada sección de muro entre columnas, se prevé al menos un castillo para maximizar la integridad estructural.
          </p>
        </div>
      </div>
    </div>
    <div class="card animista-slide-in-bottom" data-scroll>
      <div style="display: flex; align-items: center; flex-direction: row-reverse; justify-content: space-between;">
        <img src="" alt="Piso del centro de datos" class="card-img" />
        <div class="card-content">
          <strong>Piso</strong>
          <p>
            Está hecho de concreto pulido, resistente y duradero, que soporta el
            peso de los equipos sin deteriorarse. Este material también facilita la
            limpieza y el mantenimiento.
          </p>
          <p>
            La fachada del edificio está diseñada con un enfoque modular,
            permitiendo la integración de elementos fotovoltaicos y sistemas de
            ventilación que optimizan el consumo energético, algo esencial en los
            centros de datos modernos.
          </p>
        </div>
      </div>
    </div>
    <div class="card animista-fade-in-up" data-scroll>
      <div style="display: flex; align-items: center; justify-content: space-between;">
        <img src="" alt="Puerta del centro de datos" class="card-img" />
        <div class="card-content">
          <strong>Puertas</strong>
          <p>
            Las puertas de acceso al centro de datos, tanto para el personal como
            para los equipos, tienen un ancho de 1 metro y una altura de 2.10
            metros, diseñadas para facilitar el movimiento de servidores y otros
            equipos de gran tamaño.
          </p>
        </div>
      </div>
    </div>
  </div>
  <h3 class="animista-slide-in-left" data-scroll>Interior</h3>
  <div class="card animista-zoom-in" data-scroll>
    <div style="display: flex; align-items: center; flex-direction: row-reverse; justify-content: space-between;">
      <img src="" alt="Diseño del centro de datos" class="card-img" />
      <div class="card-content">
        <p>
          El interior del centro de datos está pensado para ser funcional y
          flexible. Las divisiones internas están hechas de tabla roca de 10 cm de
          grosor, proporcionando un ambiente más ligero, ideal para la
          configuración de oficinas y áreas técnicas dentro del centro de datos.
        </p>
        <p>
          Este diseño tiene en cuenta la facilidad de mantenimiento y expansión
          futura, dado que los espacios han sido distribuidos de manera cuadrada y
          equilibrada para minimizar cualquier complicación durante la
          construcción y el uso del centro de datos.
        </p>
        <strong>Techo</strong>
        <p>
          El techo del edificio lleva una losa nervada de concreto, ubicada a 3.80
          metros de altura, permitiendo una adecuada circulación del aire y
          espacio suficiente para los sistemas de climatización necesarios para
          mantener los equipos a temperaturas óptimas. Para mejorar la estética y la eficiencia acústica, se ha instalado un plafón reticulado, el cual además permite un fácil acceso a los sistemas de cableado y ventilación que están ocultos en el techo.
        </p>
        <img src="" alt="Techo del centro de datos" class="card-img" />
      </div>
    </div>
  </div>
  <h3 class="animista-slide-in-left" data-scroll>Diseño de Red y Conectividades</h3>
<div class="card animista-zoom-in" data-scroll>
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <img src="" alt="Fibra Óptica" class="card-img" />
    <div class="card-content">
      <strong>Fibra Óptica</strong>
      <p>
        Los cables de fibra óptica tienen un rendimiento superior en lo que ancho de banda
        se refiere, y, por lo tanto, su mejor rendimiento a la hora de transportar datos, siendo por lo
        general más ligeros y menos susceptibles a las interferencias electromagnéticas.
      </p>
      <p>
        El tipo de fibra óptica viene determinado por la aplicación, la distancia a la deben
        viajar las señales y la velocidad de la transmisión. Por tanto, la construcción del cable se
        elige en función de los requisitos ambientales de la instalación.
      </p>
      <p>
        Siendo el más recomendable para el Centro de Datos el cable de fibra monomodo
        con clasificación OS2, siendo ideal para aplicaciones de larga distancia debido a su baja
        atenuación y capacidad para soportar transmisión de datos a alta velocidad.
      </p>
    </div>
  </div>
</div>
<div class="card animista-slide-in-bottom" data-scroll>
  <div style="display: flex; align-items: center; flex-direction: row-reverse; justify-content: space-between;">
    <img src="" alt="Sistemas Antiestática" class="card-img" />
    <div class="card-content">
      <strong>Sistemas Antiestática</strong>
      <p>
        Como sistema de antiestática principal se usará un sistema de piso elevado ya que
        los materiales antiestáticos del piso elevado están diseñados para evitar la acumulación de
        electricidad estática y disiparla de manera controlada. Esto reduce el riesgo de que la
        estática pueda dañar componentes electrónicos.
      </p>
      <p>
        Además de que este tipo de piso se caracteriza por su buena capacidad de carga, es
        retardante de llama, a prueba de polvo, antioxidante y es resistente al ataque químico.
      </p>
    </div>
  </div>
</div>

</div>
