*,
*::before,
*::after{
  box-sizing: border-box;
}

*{
  margin: 0;
}

.presentacion {
  position: relative;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Permite interactuar con el video */
}

.overlay h1 {
  -webkit-text-stroke: 2px #ffffff;
  color: black;
  font-size: 80px;
  text-align: center;
  margin-bottom: 2rem; /* Separación entre el título y el wrapper */
}

.presentacion h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 2px #ffffff;
  color: black;
  font-size: 80px;
  text-align: center;
    view-timeline-name: --image;
	view-timeline-axis: block;

	animation-timeline: --image;
	animation-name: show2;

	animation-range: entry 25% cover 100%;
	animation-fill-mode: both;
}


@keyframes show2 {
	0% {
		opacity: 1;
	}

  50% {
		opacity: 1;
	}

	100% {
		opacity: 0;

	}

}

.wrapper {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 21rem;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );

}

@keyframes scrolleft {

  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 100%;
  animation-name: scrolleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1{
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2{
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
}
.item3{
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
}
.item4{
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
}
.item5{
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
}
.item6{
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
}
.item7{
    animation-delay: calc(30s / 8 * (8 - 7) * -1);

}
.item8{
    animation-delay: calc(30s / 8 * (8 - 8) * -1);

}



@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}


/*=============== CARD ===============*/
.container {
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}

.card__container {
  display: grid;
  row-gap: 3.5rem;
}

.card__article {
  position: relative;
  overflow: hidden;
}

.card__img {
  width: 328px;
  border-radius: 1.5rem;
}

.card__data {
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: 280px;
  padding: 1.5rem 2rem;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  color: white;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  opacity: 0;
  transform: translateY(3rem); /* Desplaza fuera del área */
  transition: opacity 0.3s ease, transform 0.5s ease;
}

.card__description {
  display: block;
  font-size: .813rem;
  margin-bottom: .25rem;
  text-align: center;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: .75rem;
  position: relative;
  z-index: 2;
}

.card__button {
  text-decoration: none;
  font-size: .813rem;
  font-weight: 500;
}


/* Naming animations in hover */
.card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.card__article:hover {
  animation: remove-overflow 2s forwards;
}

.card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
  .container {
    height: 100vh;
  }

  .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .card__img {
    width: 348px;
  }
  .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}

.introduccion{
  display: flex;
  margin: 40px;
}
.texto-introduccion{
  display: flex;
  align-items: center;
}

.zona-de-uso{
  display: flex;
  margin: 40px;
  flex-direction: row-reverse;
  align-items: center;
}



.footer-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  position: sticky;
  top: 0;
  background-color: #00030a;
  z-index: 1000;
}

.footer-links a{
  color: white;
}
.social-media a {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}
